{% extends "base.html" %}

{% block content %}
<h4 class="fw-bold py-3 mb-4">Staffs</h4>

<div class="row">
    <div class="col-auto">
        <a href="{% url "create_staff" %}" class="btn btn-primary">
            <span class="tf-icons bx bx-list-plus"></span> Add Staff
        </a>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bx-filter"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-start">
            <li><a class="dropdown-item" href="{% url "staff_list" %}">Active</a></li>
            <li><a class="dropdown-item" href="{% url "staff_list" %}?query=in_active">In Active</a></li>
        </ul>
    </div>
</div>

<div class="card mt-4 px-3 py-2">
    <div class="table-responsive text-nowrap mt-2">
        <table class="table" id="example">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Employee Id</th>
                    <th>Contact</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for employee in employees %}
                    <tr {% if employee.is_superuser %}class="table-success"{% endif %}>
                        <td>{{employee.name}}</td>
                        <td>{{employee.employee_id}}</td>
                        <td>{{employee.contact}}</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                  <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    {% if employee.is_active %}
                                        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deactivate-{{employee.id}}">
                                            <i class="bx bxs-user-x"></i>&nbsp;&nbsp;Deactivate
                                        </button>
                                    {% else %}
                                        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#activate-{{employee.id}}">
                                            <i class="bx bxs-user-check"></i>&nbsp;&nbsp;Activate
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="modal fade" id="deactivate-{{employee.id}}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel1">Deactivate</h5>
                                            <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                            ></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger" role="alert">
                                                <p class="mt-3">Are you sure you want to deactivate: <b>{{employee.name}}</b>?</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <a href="{% url "deactivate_staff" employee.id %}" class="btn btn-danger">Deactivate</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="activate-{{employee.id}}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel1">Deactivate</h5>
                                            <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                            ></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="mt-3">Are you sure you want to activate: <b>{{employee.name}}</b>?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <a href="{% url "activate_staff" employee.id %}" class="btn btn-primary">Activate</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}